@CHARSET "UTF-8";

body{
	font-family: Tahoma,Verdana,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: normal;
}

table{
	background-color: #567596;
    border-collapse: separate;
    border-spacing: 1px;
    width: 40%;
}

table tr{
	border-collapse: separate;
    border-spacing: 1px;
}

table th{
	background-color: #cfdbef;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    height: 25px;
    padding: 4px;
    text-align: left;
    vertical-align: middle;
    color: #0000aa;
    font-weight: bold;
}

table td{
	background-color: #f6f6f6;
    padding: 4px;
    text-align: left;
}